.gamelimits-overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.2);
  display: flex;
  z-index: 15;
  align-items: flex-start;
  justify-content: center;
  padding-top: 3rem;

  /* padding-bottom: 100px; */
  transition: opacity 0.5s ease;
  opacity: 0;
  pointer-events: none;
}

.gamelimits-overlay.overlay-open {
  opacity: 1;
  pointer-events: auto;
}

.gamelimits-modal.modal-show {
  top: 0;
  animation: slideDown 0.5s ease forwards;
}

.gamelimits-modal.modal-close {
  top: 0;
  animation: slideUp 0.6s ease forwards;
}

/* Keyframes for sliding animations */
@keyframes slideDown {
  0% {
    transform: translateY(-30%);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}

@keyframes slideUp {
  0% {
    transform: translateY(0);
    opacity: 1;
  }
  100% {
    transform: translateY(-20%);
    opacity: 0;
  }
}

.setting-modal {
  z-index: 20;
  /* right: 18px; */
  position: absolute;
  right: 0;
  top: 2.7rem;
}

@media (max-width: 767px) {
  .setting-modal {
    align-items: center;
    bottom: 0;
    display: flex;
    justify-content: center;
    left: 0;
    position: fixed;
    right: 0;
    top: 0;
    z-index: 20;
  }
}

.setting-light {
  display: block;
  max-height: 100%;
  overflow-y: auto;
  position: static !important;
  transform: none;
  z-index: 12;
}

.setting-inner {
  position: relative;
  height: 100%;
}

.setting-back-light {
  -webkit-backdrop-filter: blur(1.25rem);
  backdrop-filter: blur(1.25rem);
  background: rgba(0, 0, 0, 0.4);
  border: 1px solid transparent;
  border-radius: 1.5rem;
  box-shadow: 0 0 1.25rem rgba(0, 0, 0, 0.5);
  /* height: -webkit-max-content;
  height: -moz-max-content; */
  /* height: max-content; */
  margin: 0 auto;
  padding: 1.5rem 1.5rem 0;
  width: 17.5rem;
}

.close-icon-s {
  color: #979797;
  position: absolute;
  top: 0;
  font-size: 18px;
  right: 0;
  /* bottom: 4.2rem; */
  cursor: pointer;
}

.close-icon-s:hover {
  color: #fff;
}

.setting-title {
  color: hsla(0, 0%, 100%, 0.5);
  font-size: 1rem;
  font-weight: 600;
  margin-bottom: 1.5rem;
  position: relative;
}

.user-name {
  background: linear-gradient(
    312.27deg,
    rgba(0, 0, 0, 0.125) 0.02%,
    rgba(0, 0, 0, 0.375) 100.02%
  );
  border-radius: 0.375rem;
  box-shadow: -0.0625rem -0.0625rem 0.125rem rgba(0, 0, 0, 0.25),
    0.0625rem 0.0625rem 0.125rem hsla(0, 0%, 100%, 0.25);
  height: 3rem;
  margin-bottom: 1.5rem;
  padding: 0.0625rem;
}

.user-name-inner {
  background: transparent;
  border-radius: 0.375rem;
  box-shadow: none;
  height: 100%;
  position: relative;
}

.name-u {
  color: hsla(0, 0%, 100%, 0.5);
  font-size: 0.625rem;
  left: 8px;
  position: absolute;
  top: 0.5rem;
}

.user-name-text {
  position: absolute;
  bottom: 8px;
  left: 8px;
  color: #fff;
  font-size: 0.8125rem;
  font-weight: 700;
}

.setting-link {
  background: hsla(0, 0%, 100%, 0.1);
  border: 0.0625rem solid hsla(0, 0%, 100%, 0.35);
  border-radius: 0.375rem;
  box-shadow: 0.125rem 0.125rem 0.25rem rgba(0, 0, 0, 0.35);
  margin-bottom: 0.375rem;
  align-items: center;
  cursor: pointer;
  display: flex;
  height: 2.25rem;
  padding: 0.75rem;
  position: relative;
}

.setting-icon {
  align-items: center;
  display: flex;
  justify-content: center;
  border-radius: 0.375rem;
  color: hsla(0, 0%, 100%, 0.5);
  font-size: 0.875rem;
  height: 1rem;
  position: relative;
  width: 1rem;
}

.setting-name {
  color: #fff;
  flex: 1;
  font-size: 0.75rem;
  font-weight: 700;
  opacity: 0.5;
  text-align: center;
}

.setting-item {
  align-items: center;
  cursor: pointer;
  display: flex;
  height: 2.25rem;
  padding: 0.75rem;
  position: relative;
  margin-top: 11px;
}

.overlay {
  display: flex;
  background: rgba(0, 0, 0, 0.7);
  /* display: none; */
  justify-content: center;
  /* align-items: center; */
  padding-top: 3.5rem;
  padding-bottom: 1.5rem;
  position: fixed;
  right: 0;
  top: 0;
  left: 0;
  bottom: 0;
  z-index: 20;
  overflow-y: auto;
}

@media (max-width: 767) {
  .overlay {
    padding-top: 0;
  }

  .modal-new-rules {
    margin-top: 0;
  }
}

.modal-new {
  -webkit-backdrop-filter: blur(1.25rem);
  backdrop-filter: blur(1.25rem);
  background: rgba(0, 0, 0, 0.4);
  border: 1px solid transparent;
  border-radius: 1.5rem;
  box-shadow: 0 0 1.25rem rgba(0, 0, 0, 0.5);
  height: -webkit-max-content;
  height: -moz-max-content;
  height: max-content;
  margin: 0 auto;
  /* margin-bottom: 8rem; */
  padding: 1rem;
  /* padding: 1.5rem 1.5rem 0; */
  width: 17.5rem;
}

.modal-head {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 1rem;
}

.modal-head-1 {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 1rem;
  padding: 1.5rem 1.5rem 0 1.5rem;
}

.limit-head {
  color: #fff;
  font-size: 0.9rem;
  font-weight: 500;
  opacity: 0.5;
}

.close {
  color: hsla(0, 0%, 100%, 0.75);
  cursor: pointer;
  z-index: 2;
  font-size: 18.5px;
}
.close:hover {
  color: white;
}

.modal-body {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.limit-block {
  background: linear-gradient(
    312.27deg,
    rgba(0, 0, 0, 0.125) 0.02%,
    rgba(0, 0, 0, 0.375) 100.02%
  );
  border-radius: 0.375rem;
  box-shadow: -0.0625rem -0.0625rem 0.125rem rgba(0, 0, 0, 0.25),
    0.0625rem 0.0625rem 0.125rem hsla(0, 0%, 100%, 0.25);
  height: 3rem;
  padding: 0.5rem 0.75rem;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 2px;
}

.value-para {
  color: hsla(0, 0%, 100%, 0.5);
  font-size: 0.625rem;
  font-weight: 400;
  line-height: 0.75rem;
}

.value {
  color: #fff;
  font-size: 0.75rem;
  font-weight: 700;
  line-height: 0.9375rem;
}

.rule-para {
  color: #fff;
  font-size: 0.625rem;
  font-weight: 400;
  text-align: left;
  /* line-height: 0.75rem; */
  margin-bottom: 0.2rem;
}

.heading-rules {
  font-size: 12px;
  color: #fff;
  text-align: left;
  font-weight: 700;
  margin-bottom: 0.5rem;
}

.overlay-1 {
  display: flex;
  background: rgba(0, 0, 0, 0.7);
  /* display: none; */
  justify-content: center;
  align-items: center;
  padding-top: 1.5rem;
  padding-bottom: 1.5rem;
  position: fixed;
  right: 0;
  top: 0;
  left: 0;
  bottom: 0;
  z-index: 20;
  overflow-y: auto;
}

.modal-new {
  -webkit-backdrop-filter: blur(1.25rem);
  backdrop-filter: blur(1.25rem);
  background: rgba(0, 0, 0, 0.4);
  border: 1px solid transparent;
  border-radius: 1.5rem;
  box-shadow: 0 0 1.25rem rgba(0, 0, 0, 0.5);
  height: -webkit-max-content;
  height: -moz-max-content;
  height: max-content;
  margin: 0 auto;
  /* margin-bottom: 8rem; */
  padding: 1rem;
  /* padding: 1.5rem 1.5rem 0; */
  width: 17.5rem;
  animation: modal-new 0.5s ease-out forwards;
}

.modal-new-rules {
  width: 25rem;
  overflow-y: auto !important;
  padding: 0;
  /* height: 22rem; */
  animation: modal-new 0.5s ease-out forwards;
  /* margin-top: 40px; */
}
.modal-new:active {
  opacity: 1;
  transform: scale(1);
}

@keyframes modal-new {
  0% {
    opacity: 0;
    transform: scale(0.9);
  }
  100% {
    opacity: 1;
    transform: scale(1);
  }
}

.rules-para-1 {
  color: #fff;
  font-size: 0.65rem;
  /* font-weight: 300; */
  line-height: 0.75rem;
  padding: 0rem 1.5rem 0rem 1.5rem;
  text-align: left;
}

.modal-head-1 {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 1rem;
  padding: 1.5rem 1.5rem 0 1.5rem;
}

.limit-head {
  color: #fff;
  font-size: 1rem;
  font-weight: 520;
  opacity: 0.5;
}

.modal-body {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  margin-block: 1.5rem;
}

.accordian-card {
  background: linear-gradient(
    312.27deg,
    rgba(0, 0, 0, 0.125) 0.02%,
    rgba(0, 0, 0, 0.375) 100.02%
  );
  box-shadow: -0.0625rem -0.0625rem 0.125rem rgba(0, 0, 0, 0.25),
    0.0625rem 0.0625rem 0.125rem hsla(0, 0%, 100%, 0.25);
  transition: all 0.3s linear;
  /* overflow: hidden; */
  /* max-height: 2.5rem; */
}

.accordian-block {
  display: flex;
  align-items: center;
  /* margin-bottom: .375rem; */
  justify-content: space-between;
  font-size: 9.5px;
  /* font-weight: 700; */
  /* line-height: .9375rem; */
  padding: 0.75rem 1.5rem;
  color: #fff;
}

.rules-content {
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.5s ease-in-out;
  margin-left: 1.5rem;
}

.rules-content.open {
  max-height: 500px;
}

/* .block-name{
  color: #fff;
    font-size: .625rem;
    font-weight: 400;
    line-height: .75rem;
} */
.rules-points {
  list-style: disc;
  list-style-position: inside;
  margin-bottom: 1.5rem;
}

.rules-points li {
  margin-left: 1rem;
}

/* .rules-points{
  margin-left: 3rem
} */

.r-bottom {
  margin-bottom: 1rem;
}

@media (max-width: 819px) {
  .modal-new-rules {
    /* width: 100%; */
    margin-inline: 8px;
  }

  .overlay {
    align-items: center;
  }
}

.range-slider-sound {
  align-items: center;
  border-radius: 0.5625rem;
  display: flex;
  height: 0.875rem;
  position: relative;
  width: 85%;
  margin-left: 10px;
}

.range-slider-input {
  -webkit-appearance: none;
  appearance: none;
  cursor: pointer;
  min-height: 100%;
  min-width: 100%;
  opacity: 0;
  position: absolute;
  z-index: 3;
}

.range-slider-bg {
  border-radius: 0.5625rem;
  box-shadow: -0.0625rem -0.0625rem 0.125rem rgba(0, 0, 0, 0.25),
    0.0625rem 0.0625rem 0.125rem hsla(0, 0%, 100%, 0.25),
    inset 0.125rem 0.125rem 0.5rem 0.0625rem rgba(4, 4, 5, 0.6);
  display: block;
  height: 100%;
  overflow: hidden;
  position: relative;
  width: 100%;
}

.range-slider-bg-inner {
  background: linear-gradient(270deg, #01ffa4 -33.45%, rgba(0, 165, 125, 0.5));
  box-shadow: 0 0 0.625rem #a6ff60;
  -webkit-filter: blur(0.25rem);
  filter: blur(0.25rem);
  height: 100%;
  min-height: 100%;
  min-width: 100%;
  overflow: hidden;
  padding: 0.25rem;
}

.range-slider-active {
  background: #051c18;
  height: 100%;
  min-width: 100%;
  position: relative;
  top: -0.875rem;
  /* transform: translateX(-100%); */
}

.range-slider-btn-wrap {
  justify-content: flex-end;
  max-width: 100%;
  align-items: center;
  display: flex;
  position: absolute;
  min-width: 100%;
}

.range-slider-btn {
  background: linear-gradient(312.89deg, #121416 -8.2%, #353a40 103.29%);
  border-radius: 50%;
  box-shadow: -0.1875rem -0.1875rem 1rem rgba(232, 237, 243, 0.05),
    0.1875rem 0.125rem 0.25rem rgba(2, 3, 3, 0.487),
    inset -1rem -0.375rem 5rem hsla(180, 8%, 97%, 0.03);
  height: 1.5rem;
  justify-content: center;
  overflow: hidden;
  padding: 0.125rem;
  width: 1.5rem;
}

.range-slider-btn::before {
  background: linear-gradient(135deg, #000, hsla(0, 0%, 100%, 0));
  border-radius: 50%;
  bottom: 0.125rem;
  content: "";
  left: 0.125rem;
  position: absolute;
  right: 0.125rem;
  top: 0.125rem;
}

.range-slider-btn::after {
  background: #00ff75;
  box-shadow: 0 0 0.3125rem #a6ff60, 0 0 0.625rem #76ff60;
  border-radius: 50%;
  bottom: 0.25rem;
  content: "";
  left: 0.25rem;
  position: absolute;
  right: 0.25rem;
  top: 0.25rem;
}
