/* .canvas-container {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  &::before,
  &::after {
    content: "";
    position: absolute;
    left: 0;
    width: 100%;
    height: 80px;
    z-index: 1;
    opacity: 0.9;
    @include mobile() {
      height: 30px;
    }
  }
  &::before {
    top: 0;
    background: linear-gradient(180deg, #000000 6.28%, rgba(0, 0, 0, 0) 92.77%);
  }
  &::after {
    bottom: 0;
    background: linear-gradient(0deg, #000000 6.28%, rgba(0, 0, 0, 0) 92.77%);
  }
} */
.canvas-container {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

.canvas-container::before,
.canvas-container::after {
  content: "";
  position: absolute;
  left: 0;
  width: 100%;
  height: 80px;
  z-index: 1;
  opacity: 0.9;
}

.canvas-container::before {
  top: 0;
  background: linear-gradient(180deg, #000000 6.28%, rgba(0, 0, 0, 0) 92.77%);
}

.canvas-container::after {
  bottom: 0;
  background: linear-gradient(0deg, #000000 6.28%, rgba(0, 0, 0, 0) 92.77%);
}

@media (max-width: 819px) {
  .canvas-container::before,
  .canvas-container::after {
    height: 30px;
  }
}

/* .dividers {
  display: flex;
  justify-content: space-around;
  height: 100%;
}

.divider {
  flex: 1;
  height: 2px;
  background-color: #ccc;
  margin: 0 4px;
} */
