.combinations {
  background: linear-gradient(
    263.56deg,
    hsla(0, 0%, 76%, 0.104) -7.69%,
    hsla(0, 0%, 100%, 0.167) 103.23%
  );
  
  border-radius: 10px;
  grid-area: combinations;
  margin-right: 12px;
}

.combinations-list {
  background: linear-gradient(
    123.57deg,
    #0b2520 15.9%,
    rgba(9, 13, 12, 0.86) 101.41%
  );
  border-radius: 8px;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.33);
  padding: 8px 8px 4px;
}

.combination-item-wrapper {
  padding-bottom: 4px;
}

.combination-list-item {
  border: 1px solid rgba(214, 239, 238, .13);
  background: linear-gradient(
    92.18deg,
    hsla(0, 0%, 100%, 0.2) -25.84%,
    hsla(0, 14%, 60%, 0.2) 128.51%
  );
  align-items: center;
  border-radius: 10px;
  box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.38);
  color: #fff;
  display: flex;
  cursor: pointer;
  padding: 5px 10px 5px 7px;
  position: relative;
  width: 100%;
  /* border: none; */
}

.combination-list-item:hover {
  background: linear-gradient(
    92.18deg,
    rgba(255, 255, 255, 0.3) -25.84%,
    rgba(132, 132, 132, 0.2) 128.51%
  );
}

.combination-list-item_77 {
  background: linear-gradient(92.18deg, #fd9c41 -25.84%, #ffe481 128.51%);
  /* color: #211f1f; */
  align-items: center;
  border-radius: 10px;
  box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.38);
  color: #fff;
  display: flex;
  cursor: pointer;
  padding: 5px 10px 5px 7px;
  position: relative;
  width: 100%;
  border: none;
}

.combination-list-item_10 {
  background: linear-gradient(92.18deg, #fc392c -25.84%, #feb445 128.51%);
  align-items: center;
  border-radius: 10px;
  box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.38);
  color: #fff;
  display: flex;
  cursor: pointer;
  padding: 5px 10px 5px 7px;
  position: relative;
  width: 100%;
  border: none;
}

.combination-list-item_5 {
  background: linear-gradient(92.18deg, #8f3be9 -25.84%, #d128fc 128.51%);
  align-items: center;
  border-radius: 10px;
  box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.38);
  color: #fff;
  display: flex;
  cursor: pointer;
  padding: 5px 10px 5px 7px;
  position: relative;
  width: 100%;
  border: none;
}

.combination-list-item_3 {
  background: linear-gradient(92.18deg, #3f40b6 -25.84%, #87afe2 128.51%);
  align-items: center;
  border-radius: 10px;
  box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.38);
  color: #fff;
  display: flex;
  cursor: pointer;
  padding: 5px 10px 5px 7px;
  position: relative;
  width: 100%;
  border: none;
}

.combination-list-item_14 {
  background: linear-gradient(92.18deg, #7bf08b -25.84%, #83ffe2 128.51%);
  align-items: center;
  border-radius: 10px;
  box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.38);
  color: #fff;
  display: flex;
  cursor: pointer;
  padding: 5px 10px 5px 7px;
  position: relative;
  width: 100%;
  border: none;
  color: #211f1f;
}

.combination-list-item_01 {
  background: linear-gradient(92.18deg, #f3edf9 -25.84%, #f6ecf4 128.51%);
  align-items: center;
  border-radius: 10px;
  box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.38);
  color: #fff;
  display: flex;
  cursor: pointer;
  padding: 5px 10px 5px 7px;
  position: relative;
  width: 100%;
  border: none;
  color: #211f1f;
}

.combination-list-ball {
  display: flex;
  align-items: center;
}

.ball {
  align-items: center;
  background: linear-gradient(119.43deg, #2a2a2c -25.7%, #1a1b1c 123.7%);
  border-radius: 11px;
  box-shadow: inset -3px -2px 3px rgba(54, 54, 57, 0.2),
    inset 2px 2px 6px rgba(0, 0, 0, 0.48);
  display: flex;
  height: 22px;
  justify-content: center;
  margin-right: 3px;
  width: 22px;
}

.ball-inner {
  background-image: url(../../assets/solid.6cc1ff11.png);
}

.ball-holed {
  background-image: url(../../assets/holed.6adc0312.png);
}

.ball-inner-black {
  background-position: 50%;
  background-repeat: no-repeat;
  background-size: contain;
  border-radius: 7px;
  height: 14px;
  width: 14px;
}

.combination-item-text {
  font-size: 12px;
  margin-left: auto;
}

.combination-footer {
  display: flex;
  justify-content: space-between;
  padding: 15px;
  cursor: default;
}

.combination-footer-text {
  color: #fff;
  font-size: 12px;
  line-height: 15px;
}

.bold-text {
  font-weight: 700;
  display: inline-grid;
}
.thin-text {
  font-weight: normal; 
  margin-left: 3px;
}


.game-container {
  backdrop-filter: blur(13px);
  background: linear-gradient(
    315.26deg,
    rgba(17, 18, 17, 0.297) -7.43%,
    rgba(78, 182, 132, 0.234) 106.56%
  );
  border: 1px solid #ddd;
  border-radius: 13px;
  box-shadow: 4px 4px 12px rgba(0, 0, 0, 0.25);
  margin-bottom: 40px;
  padding: 10px 10px 25px;
  position: relative;
}

@media (min-width: 820px) {
  .game-container {
    grid-template-areas:
      "combinations chart"
      "combinations betslip";
    grid-template-columns: 238px 1fr;
    grid-template-rows: 283px min-content;
  }
}

@media (min-width: 820px) {
  .game-container {
    grid-gap: 0;
    display: grid;
    width: 100%;
  }
}

.chart {
  background: linear-gradient(
    180.49deg,
    #112126 2.53%,
    #000 19.76%,
    #ffcd6c 33.78%,
    #fc5733 42.54%,
    #6a82d0 50.7%,
    #80f9c1 61.11%,
    #000 79.33%,
    #112024 92.85%
  );
  border-radius: 10px;
  padding: 5px 4px;
}

.chart-inner {
  background: #000;
  border-radius: 9px;
  height: 275px;
  overflow: hidden;
  position: relative;
}

.dividers {
  align-items: center;
  bottom: 0;
  display: flex;
  justify-content: space-evenly;
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
  z-index: 1;
}

.divider {
  background: linear-gradient(
    180deg,
    #000 6.33%,
    #ffcd6c 23.7%,
    #fc5733 42.9%,
    #6a82d0 57.98%,
    #80f9c1 71.69%,
    #000 94.09%
  );
  box-shadow: 0 0 3px rgba(111, 146, 196, 0.6);
  height: 143px;
  width: 2px;
}

.game-betslip {
  display: flex;
  flex-direction: row-reverse;
  padding: 11px 0 0;
  z-index: 1;
}

.bet-game-betslip {
  opacity: 0.4;
}

.all-default {
  cursor: default;
}

@media (min-width: 820px) {
  .game-betslip {
    grid-area: betslip;
  }
}

.game-betslip-button {
  display: flex;
  margin: 0 0 0 5px;
  position: relative;
  flex: 1;
}

.placebet-btn {
  background: linear-gradient(
    276.21deg,
    #ffcd6c 6.17%,
    #fc5733 32.21%,
    #6a82d0 59.23%,
    #80f9c1 85.31%
  );

  border-radius: 10px;
  box-shadow: -2px -2px 6px rgba(74, 75, 66, 0.56);
  cursor: pointer;
  flex: 1;
  height: 100%;
  padding: 2px;
  position: relative;
  text-align: center;
}

.place-btn-border {
  backdrop-filter: blur(14px);
  background: #252542;
  border-radius: 9px;
  height: 100%;
}

.btn-fir-inner {
  background: linear-gradient(
    266.49deg,
    hsla(0, 1%, 65%, 0.06) 3.7%,
    hsla(0, 1%, 65%, 0.06) 113.26%
  );
  border-radius: 8px;
  height: 100%;
  overflow: hidden;
  position: relative;

  /* background: linear-gradient(
    108.33deg,
    #ffcd6c 7.36%,
    #fc5733 34.71%,
    #6a82d0 63.09%,
    #80f9c1 90.48%
  );
  filter: blur(15px);
  filter: blur(15px);
  border-radius: 10px;
  bottom: 17px;
  content: "";
  -webkit-filter: blur(9px);
  filter: blur(9px);
  left: 28px;
  position: absolute;
  right: 28px;
  top: 18px;
  transition: all 0.5s ease-out; */
}

.text-wrapper {
  display: flex;
  flex-direction: column;
  height: 28px;
  justify-content: center;
}

.text-bet {
  color: #d6e1ef;
  font-size: 24px;
  font-weight: 800;
  line-height: 29px;
}

.btn-fir-blur {
  background: linear-gradient(
    108.33deg,
    #ffcd6c 7.36%,
    #fc5733 34.71%,
    #6a82d0 63.09%,
    #80f9c1 90.48%
  );
  filter: blur(15px);
  border-radius: 28px;
  width: 90%;
  height: 74%;
  position: absolute;
  top: 14px;
  left: 16px;
}

.btn-fir-text {
  color: #fff;
  display: flex;
  flex-direction: column;
  height: 100%;
  justify-content: center;
  padding: 10px 0;
  position: relative;
  z-index: 2;
}

.btn-fir-inner::after {
  background: linear-gradient(
    108.33deg,
    #ffcd6c 7.36%,
    #fc5733 34.71%,
    #6a82d0 63.09%,
    #80f9c1 90.48%
  );
  filter: blur(15px);
  border-radius: 10px;
  bottom: 17px;
  content: "";
  -webkit-filter: blur(9px);
  filter: blur(9px);
  left: 28px;
  position: absolute;
  right: 28px;
  top: 18px;
  transition: all 0.5s ease-out;
}

.btn-fir-inner:hover::after {
  transform: scale(1.2);
}

.auto-button {
  background: linear-gradient(
    280.51deg,
    #ffea9b -14.46%,
    #fb736a 18.79%,
    #7549da 65.9%,
    #0cd69a 105.38%
  );
  border-radius: 23px;
  height: 46px;
  position: absolute;
  right: 22px;
  top: 50%;
  transform: translateY(-50%);
  width: 46px;
  z-index: 2;
}

.auto-bet-list {
  backdrop-filter: blur(9px);
  background: linear-gradient(
    108.33deg,
    #ffcd6c 7.36%,
    #fc5733 34.71%,
    #6a82d0 63.09%,
    #80f9c1 90.48%
  );
  border-radius: 9px 9px 0 0;
  bottom: 50%;
  display: none;
  left: 0;
  padding: 9px 0 23px;
  position: absolute;
  width: 100%;
  z-index: 1;
}

.autobet-list-item {
  color: #fff;
  cursor: pointer;
  font-size: 17px;
  font-weight: 700;
  margin-top: -1px;
  padding: 5px 0;
  position: relative;
  text-align: center;
  text-transform: uppercase;
  z-index: 1;
}

.auto-button-slip {
  background: linear-gradient(
    108.33deg,
    #ffcd6c 7.36%,
    #fc5733 34.71%,
    #6a82d0 63.09%,
    #80f9c1 90.48%
  );
  border-radius: 9px 9px 0 0;
  bottom: 50%;
  display: none;
  left: 0;
  padding: 9px 0 23px;
  position: absolute;
  width: 100%;
  z-index: 1;
}

.auto-bet-button {
  align-items: center;
  display: flex;
  justify-content: center;
  background: linear-gradient(
    324.43deg,
    rgba(87, 86, 139, 0.92) -52.28%,
    rgba(191, 190, 234, 0.92) 69.89%
  );
  border-radius: 22px;
  color: #f3edf9;
  cursor: pointer;
  font-size: 17px;
  font-weight: 700;
  height: 44px;
  margin: 1px;
  position: relative;
  text-transform: uppercase;
  width: 44px;
  z-index: 3;
}

.auto-bet-button:hover {
  background: none;
}

.auto-bet-inner {
  align-items: center;
  display: flex;
  justify-content: center;
  background-image: url(../../assets/autobet-btn.29ab7665\ 1.png);
  background-position: 50%;
  background-repeat: no-repeat;
  background-size: 30px 37px;
  height: 100%;
  width: 100%;
}

.text-wrapper {
  display: flex;
  flex-direction: column;
  height: 28px;
  justify-content: center;
}

.btn-text {
  color: #d6e1ef;
  font-size: 24px;
  font-weight: 800;
  line-height: 29px;
}

.inpute-text-wrapper {
  flex: 1;
}

@media (min-width: 820px) {
  .inpute-text-wrapper {
    margin: 0 5px 0 0;
    grid-gap: 0;
    display: grid;
    grid-template-areas:
      "input input input input"
      "btn1 btn2 btn3 btn4";
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: max-content max-content;
  }
}

@media (min-width: 820px) {
  .inpute-button-sm:first-child {
    grid-area: btn1;
    margin-right: 5px;
  }
}

@media (min-width: 820px) {
  .inpute-button-sm {
    display: flex;
    flex: 1;
    height: 28px;
    /* margin-bottom: 20px; */
    margin-top: -10px;
    position: static;
    width: auto;
  }
}

.inpute-button-sm {
  z-index: 3;
  align-items: center;
  /* background-image: linear-gradient(135deg, #282c31, #1e2125); */
  background: linear-gradient(
    109.54deg,
    rgba(214, 236, 239, 0.5) -59.89%,
    rgba(158, 247, 241, 0.5) 109.7%
  );
  border-radius: 4px;
  box-shadow: 3px 3px 4px 0 rgba(10, 9, 9, 0.4);
  cursor: pointer;
  /* display: flex;
  height: 44px; */
  justify-content: center;
}

.inpute-button-text {
  color: #e5f0fe;
  width: 100%;
  height: 100%;
  font-size: 14.4px;
  font-weight: 700;
  line-height: 1.45;
  opacity: 0.9;
  text-align: center;
  background: none;
  border: none;
  cursor: pointer;
}

@media (min-width: 820px) {
  .inpute-button-sm:nth-child(2) {
    grid-area: btn2;
    margin-left: 5px;
    margin-right: 5px;
  }
}

@media (min-width: 820px) {
  .inpute-button-sm:nth-child(3) {
    grid-area: btn3;
    margin-left: 5px;
    margin-right: 5px;
  }
}

@media (min-width: 820px) {
  .inpute-button-sm:nth-child(4) {
    grid-area: btn4;
    margin-left: 5px;
  }
}

.game-inpute-wrapper {
  background: none;
  border-radius: 5px;
  box-shadow: none;
  height: 52px;
  margin-bottom: 20px;
  position: relative;
  transition: opacity 0.5s cubic-bezier(0.075, 0.82, 0.165, 1);
}

.input-warning {
  margin-bottom: 40px;
}

.error-warning {
  position: absolute;
  bottom: -19px;
  left: 18px;
  font-size: 11px;
  color: rgba(227, 113, 113, 0.64);
}

@media (min-width: 820px) {
  .game-inpute-wrapper {
    grid-area: input;
  }
}

.inpute-name-text {
  top: 14px;
  color: hsla(0, 0%, 100%, 0.5);
  font-size: 11px;
  /* left: 18px; */
  display: flex;
  line-height: 0.91;
  position: absolute;
  /* top: 12px; */
  z-index: 1;
}

@media (min-width: 820px) {
  .inpute-name-text {
    left: 18px;
    transform: unset;
  }

  
}

.tooltips-box {
  position: absolute;
  right: -4px;
  top: 0;
  align-items: center;
  border: 1px solid hsla(0, 0%, 100%, 0.5);
  border-radius: 4px;
  color: hsla(0, 0%, 100%, 0.5);
  cursor: pointer;
  display: flex;
  font-size: 6px;
  font-weight: 700;
  height: 8px;
  justify-content: center;
  position: relative;
  width: 8px;
}

.toltips-hint {
  left: 50%;
  position: absolute;
  transform: translateX(-50%);
  background-color: #40444a;
  border-radius: 2px;
  bottom: calc(100% + 5px);
  color: #fff;
  cursor: default;
  font-size: 10px;
  line-height: 16px;
  opacity: 0;
  padding: 4px 7px;
  visibility: hidden;
  white-space: nowrap;
  z-index: -2;
}

.bet-input-modal {
  backdrop-filter: blur(8px);
  background: rgba(214, 239, 238, 0.13);
  border: none;
  border-radius: 5px;
  box-shadow: inset -2px -2px 10px rgba(189, 252, 229, 0.05);
  padding-left: 16px;
  padding-right: 16px;
  text-align: left;
  padding-top: 30px;
  height: calc(100% - 2px);
  left: 1px;
  top: 1px;
  width: calc(100% - 2px);

  border: none;
  color: #d6e1ef;
  font-size: 14px;
  font-weight: 700;
  /* height: 100%; */
  /* left: 0; */
  line-height: 1.14;
  outline: none;
  padding-bottom: 10px;
  /* padding: 10px 16px; */
  position: absolute;
  /* top: 0;
    width: 100%; */
}

.tooltips-box._show .toltips-hint,
.tooltips-box:hover .toltips-hint {
  z-index: 9999;
  visibility: visible;
  opacity: 1;
}

.error-input {
  background: #060346;
  border: 1px solid #ff3d00;
  border-radius: 3px;
  bottom: -8px;
  color: #ff3d00;
  display: flex;
  font-size: 8px;
  font-style: normal;
  font-weight: 700;
  height: 12px;
  justify-content: center;
  left: 50%;
  position: absolute;
  transform: translateX(-50%);
  white-space: nowrap;

  padding: 0.2 0.5rem;
  width: 180px;
  z-index: 2;
}

.c-default {
  cursor: default;
}

@media (max-width: 819px) {
  .game-container {
    backdrop-filter: none;
    background: none;
    border: none;
    box-shadow: none;
    filter: none;
    margin-bottom: 0;
    padding-top: 0;
  }

  .combinations {
    background: none;
    margin: 0;
  }

  .combination-footer {
    padding: 5px;
  }

  .chart {
    padding: 2px;
  }

  .chart-inner {
    height: 128px;
  }

  .divider {
    height: 65px;
  }

  .game-betslip {
    flex-direction: column-reverse;
  }

  .game-betslip-button {
    height: 91px;
    margin: 0;
    min-height: 91px;
    z-index: 1;
  }

  .placebet-btn {
    height: 91px;
  }

  .inpute-button-sm {
    background: linear-gradient(
      109.54deg,
      rgba(214, 236, 239, 0.5) -59.89%,
      rgba(158, 247, 241, 0.5) 109.7%
    );
    border-radius: 8px;
    box-shadow: none;
  }

  .inpute-button-sm {
    width: 44px;
    height: 44px;
    position: absolute;
    top: 4px;
    z-index: 1;
  }

  .inpute-button-sm:first-child {
    left: 4px;
  }

  .inpute-button-sm:nth-child(2) {
    left: 52px;
  }

  .inpute-button-sm:nth-child(3) {
    right: 52px;
  }

  .inpute-button-sm:nth-child(4) {
    right: 4px;
  }

  .inpute-button-text {
    color: #121e23;
    opacity: 1;
  }

  .inpute-text-wrapper {
    position: relative;
    text-align: center;
  }

  /* .game-inpute-wrapper {
    margin-bottom: 11px;
  } */

  .default-bottom{
     margin-bottom: 11px;
  }


  .inpute-name-text {
    left: 50%;
    transform: translateX(-50%);
  }

  .bet-input-modal {
    text-align: center;
  }
}
