.game-header {
  display: flex;
  align-items: center;
  color: hsla(0, 0%, 100%, 0.5);
  padding: 0 0.625rem;
}

/* @media (min-width: 820px) {
  .game-header {
    height: 70px;
  }
} */

.game-header-back {
  border: 1px solid #fff;
  border-radius: 15px;
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  font-size: 1.25rem;
  height: 1.875rem;
  margin: 0 0.75rem 0 0;
  min-width: 1.875rem;
  width: 1.875rem;
}

.game-header-logo {
  background-image: url(../../assets/logoBall.png);
  background-position: 50%;
  background-repeat: no-repeat;
  background-size: contain;
  height: 50px;
  margin-right: auto;
  position: relative;
  width: 200px;
}

.game-header-balance-title {
  color: #fff;
  font-weight: 700;
  margin-left: auto;
  margin-right: 0.375rem;
}

@media (min-width: 820px) {
  .game-header-balance-title {
    display: block;
  }
}

.game-header-balance {
  border: 1px solid #fff;
  border-radius: 6px;
  align-items: center;
  color: #d6e1ef;
  display: flex;
  font-size: 0.8125rem;
  font-weight: 700;
  height: 1.5rem;
  min-width: 6.25rem;
  padding: 0 0.3125rem;
  position: relative;
}

@media (min-width: 820px) {
  .game-header-balance {
    margin-left: unset;
  }
}

.game-header-buttons {
  display: flex;
  align-items: center;
}

.game-header-button {
  border: 1px solid #fff;
  border-radius: 15px;
  color: #fff;
  box-sizing: border-box;
  cursor: pointer;
  height: 1.875rem;
  margin-left: 0.75rem;
  position: relative;
  width: 1.875rem;
}

.game-header-btton-inner {
  align-items: center;
  display: flex;
  height: 1.75rem;
  justify-content: center;
  min-height: 100%;
  min-width: 100%;
  width: 1.75rem;
  transition: transform 0.1s ease, background-color 0.1s ease;
}

.game-header-btton-inner:active {
  transform: translateY(1px) translateX(1px); 
  background-color: rgba(0, 0, 0, 0.1); 
}


.game-header-balance-delta {
  position: absolute;
  top: 1.875rem; /* 30px */
  left: 2.5rem; /* 10px */
  opacity: 0;
  
}

.animatedup {
  animation-duration: 1500ms;
  animation-fill-mode: forwards;
  animation-timing-function: ease-out;
  color: #3fcda6;
  animation-name: balanceUp;
}

@keyframes balanceUp {
  0% {
    opacity: 1;
  }
  100% {
    top: 0.625rem; /* 10px */
    opacity: 0;
  }
}

.animateddown {
  animation-duration: 1500ms;
  animation-fill-mode: forwards;
  animation-timing-function: ease-out;
  animation-name: balanceDown;
}

@keyframes balanceDown {
  0% {
    top: 0.625rem; /* 10px */
    opacity: 1;
  }
  100% {
    top: 1.875rem; /* 30px */
    opacity: 0;
  }
}



@media (max-width: 819px) {
  .game-header-logo {
    height: 25px;
    width: 100px;
  }
  .game-header {
    min-height: 2.8125rem;
  }
  .game-header-balance-title {
    display: none;
  }
}
